buildandrun.sh
main.o
compile_commands.json
.clangd
build/spacer3000
build/Debug/main.o
build/spacer3000
glad/glad.o
.idea/.gitignore
.idea/editor.xml
.idea/modules.xml
.idea/Spacer3000.iml
.idea/vcs.xml
.vscode/
.cache/
result
.direnv/flake-profile
.direnv/flake-profile-1-link
build/graphics.rdc
build/nographics.rdc
cbmchargen/cbmchargen.o
glibs/common.o
glibs/gvmath/gvmath.o
.direnv/flake-profile-a5d5b61aa8a61b7d9d765e1daf971a9a578f1cfa
.direnv/flake-profile-a5d5b61aa8a61b7d9d765e1daf971a9a578f1cfa.rc
.direnv/bin/nix-direnv-reload
.direnv/flake-inputs/rhc5yjxqv754ylc90bsszdykl88349fs-source
.direnv/flake-inputs/x5k5bz6pf9scg6rjyi5s7ivvrxmfsdqw-source
