buildandrun.sh
main.o
compile_commands.json
.clangd
build/spacer3000
build/Debug/main.o
build/spacer3000
glad/glad.o

.idea/.gitignore
.idea/editor.xml
.idea/modules.xml
.idea/Spacer3000.iml
.idea/vcs.xml
.vscode/
.cache/
